<!--
  Generated template for the AulaAPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <br>
  <br>
  <ion-title>Aula-B {{usuario}}</ion-title>
  <ion-buttons end>
    <button ion-button icon-only (click)="salir()">
      <ion-icon name="exit"></ion-icon>
    </button>
  </ion-buttons>
</ion-header>


<ion-content padding>

  <ion-item no-lines *ngFor="let aux of mensajes | async" (click)="menu(aux.$key, aux.mens)" class="hora">

    <ion-item no-lines class="hora">{{aux.hora}}</ion-item>

    <ion-item no-lines *ngIf="usuario == aux.usuario" class="color2">
      {{aux.mens}}
      <br>
    </ion-item>
    <ion-item no-lines *ngIf="usuario != aux.usuario" class="color3">
      {{aux.usuario}}: {{aux.mens}}
      <br>
    </ion-item>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-item>
    <ion-label floating>Mensaje</ion-label>
    <ion-input type="text" maxlength="66" [(ngModel)]="mensaje"></ion-input>
  </ion-item>
  <br>
  <button ion-button color="secondary" round (click)="enviarMensaje()">Enviar Mensaje</button>
</ion-footer>