page-aula-a {
    .fondo{
        
        
    }
    .color2{
        text-align: right;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1px;
        border: none;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        font: normal 16px/1 "Times New Roman", Times, serif;
        color: black;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        background: -webkit-linear-gradient(-90deg, rgba(180,227,145,0.3) 0, rgba(104,186,42,0.9) 41%, rgba(180,227,145,0.3) 100%);
        background: -moz-linear-gradient(180deg, rgba(180,227,145,0.3) 0, rgba(104,186,42,0.9) 41%, rgba(180,227,145,0.3) 100%);
        background: linear-gradient(180deg, rgba(180,227,145,0.3) 0, rgba(104,186,42,0.9) 41%, rgba(180,227,145,0.3) 100%);
        background-position: 50% 50%;
        -webkit-background-origin: padding-box;
        background-origin: padding-box;
        -webkit-background-clip: border-box;
        background-clip: border-box;
        -webkit-background-size: auto auto;
        background-size: auto auto;
        
    }

    .color3{
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1px;
        border: none;
        -webkit-border-radius: 16px;
        border-radius: 16px;
        font: normal 16px/1 "Times New Roman", Times, serif;
        color: black;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        background: -webkit-linear-gradient(0deg, rgba(255,168,76,0.5) 0, rgba(255,123,13,1) 100%);
        background: -moz-linear-gradient(90deg, rgba(255,168,76,0.5) 0, rgba(255,123,13,1) 100%);
        background: linear-gradient(90deg, rgba(255,168,76,0.5) 0, rgba(255,123,13,1) 100%);
        background-position: 50% 50%;
        -webkit-background-origin: padding-box;
        background-origin: padding-box;
        -webkit-background-clip: border-box;
        background-clip: border-box;
        -webkit-background-size: auto auto;
        background-size: auto auto;
    }
}
